@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    
    padding: 0;
    margin: 0 auto;
    font-family: 'Fira Sans', sans-serif;
}
body{
    background: #f5f5f5;

    box-sizing: border-box;
}
h1, h2, h3, p {
    font-family: 'Fira Sans', sans-serif;
    color: #0E0E0E;

}

.common-btn-a{
    display: inline-block;
    background-color: #006A50;
    border: 0px;
    border-radius: 8px;
    /* height: 40px; */
    /* //max-width: 139px; */
    padding: 13px 30px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.5s ease;
}
.common-btn-a:hover{
    background-color: #f40200;
}

.container{
    max-width: 1250px;
    display: block;
}
header{
    background-color: #c5e4d5;
    padding: 80px 69px;
    margin: 30px auto;
    border: 0;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .Bangladesh-idea-hero{
    padding-top: 30pX;
    padding-right: 32px;
}
header img{
    width: 45%;
    padding-left:32px;
    transition: filter 0.5s ease;
}
header img:hover{
    filter: saturate(2) contrast(1.5);
}
header h1{
    font-size: 52px;
    padding-top: 10px;
    padding-bottom: 30px;
}
header h5{
    font-size: 20px;
    color:rgba(14, 14, 14, 0.5);
}

/* The Vision of Future */
.the-vision-of-future{
    margin-top: 90px;
}
/* .the-vision-of-future h2{ */
.Vision-heading, .common-heading{
    font-size: 40px;
    margin:30px auto;
}
.vision-para{
    margin-bottom: 40px;
}
.the-vision-of-future p{
    color: rgba(14, 14, 14, 0.7);

}

.digital-green-modern-parent{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 25px;
    padding: 50px 0px;
   
}
.common-vision-card{
    flex: 1;
    padding: 30px;
    border: 0px;
    border-radius: 16px;

}
.common-vision-card img{
    transition: transform 0.3s ease, filter 0.3s ease;
    object-fit: cover;
}
.common-vision-card-img-container{
    overflow: hidden;
    position: relative;
}
.common-vision-card:hover .common-vision-card-img-container img {
    transform: scale(1.1) translateX(20px);
    filter: saturate(5) contrast(1.9);
}
.common-vision-card h4, .yunus-name{
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
    
}
.common-vision-card p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 10px;
}

.common-vision-card-blue{
    background-color: #d5e2f5;
}
.common-vision-card-blue-btn{
    background-color: #568efd;
}
.common-vision-card-green{
    background-color: #c5e4d5;
}
.common-vision-card-green-btn{
    background-color: #07a45c;
}
.common-vision-card-yellow{
    background-color: #f6ebcf;
}
.common-vision-card-yellow-btn{
    background-color: #ffc13f;
}
.card-btn{
    font-size: 16px;
    padding: 11px 26px;
}
.common-vision-card:hover .card-btn{
    background-color: #f40200;
}

/* Recent News Section */

.blog-section{ 
    /* container: ; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.blog-parent{
    /* content */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20px;
    border: 0px;
    border-radius: 18px;
    background: #ffffff;
    padding: 30px;

}
.blog-parent:nth-child(even){
    flex-direction: row-reverse;
}

.Recent-News-Section{
    margin: 50px auto;
}
.satallite-blog{
    padding: 30px;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}
.satallite-blog-heading{
    font-size: 30px;
}
.blog-parent-img img{
    border: 0px;
    border-radius: 18px;
    margin: 10px;
    transition: transform 0.5s ease, filter 0.5s ease;
}
.blog-parent:hover .blog-parent-img img{
    transform: scale(1.05);
    filter: saturate(2) contrast(1.5);
}
/* Donate Today section START */
.donate-today{
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.doantion-header{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.cta-donation-options {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.donation-card {
    flex: 1;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.5s ease,backgroung-color 0.5s ease, box-shadow 0.5s ease;
}

.cta-input{
    margin:0 30px;
    
}
.cta-input-text{
    padding: 25px;
    text-align: center;
}
.donation-card:nth-child(2){
    background-color: rgb(198, 228, 214);
    animation: scaleAnimation 2s infinite ease-in-out;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
.donation-card:hover {
    transform: scale(1.09);
    background-color: rgb(198, 228, 214);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    animation: none;
}

/* .donation-card h4 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
} */


/* Input Field */
.cta-input input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

/* Donate Button */
.cta-button{
    display:flex;
    justify-content: center;
    align-items: center;
}
.cta-button button {
    background-color: #006a50;
    color: #fff;
    padding: 15px 30px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.5s ease;
}

.cta-button button:hover {
    background-color: #f40200;
}
/* Donate Today section END */

.dr-yunus{
    position: relative;
    background-color: white;
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px;
    padding: 48px 24px;
    border-radius: 24px;
    transition: background-position 0.9s ease;
}
.dr-yunus:hover{
    background-position: 85% 35%;;
}
.dr-yunus h4{
    padding-top: 20px;
}
.subtitle{
    font-size: 14px ;
    color:rgba(14, 14, 14, 0.7)
}

.Newslatter-Section{
    background-color: #c5e4d5;
    border-radius: 24px;
    padding: 50px 40px;
    margin: 20px auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
      align-items: center;
}
.newsletter-body{
    display: flex;
      justify-content: center;
      align-items: center;
}

.newsletter-form {
    display: flex;
    align-items: center;
    margin: 20px auto;
  }
  .newsletter-form input[type="email"] {
    padding: 16px 32px;
    min-width: 500px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      outline: none;
  }
  .newsletter-form input[type="email"]:focus {
    box-shadow: none;
  }
  .newsletter-form button {
    padding: 16px 32px;
    border: none;
    background-color: rgb(0, 105, 81);
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease;
    border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
  }
  .newsletter-form button:hover {
    background-color: #f40200;
    padding: 15px 31px;
    Border: 1px red solid;
  }